body {
  background: url("./portfoliobackground.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
